.heading {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Roboto';
  color: #1e293b;
}
.para {
  font-size: 18px;
  font-family: 'Roboto';
  color: #64748b;
}
.image {
  height: 400px;
  width: 600px;
}
.cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  min-height: 100vh;
}
.image-cont {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
}
